-provide(:title, "About")
h1 About Us
p 
  The
  a href="http://railstutorial.org" Ruby on Rails Tutorial
  |  is a project to make a book and screencasts to teach web 
  | development with 
  a href="http://rubyonrails.org" Ruby on Rails
  | . This is the sample application for the tutorial